<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
    <table class="table">
      <% @orders.each do |order|%>
        <tr>
        <td> <%= order.product.name %> </td>
        <td> <%= order.product.price %> </td>
        <td> <%= order.quantity %> </td>
        
        <tr>
      <% end %>
      <tr>
        <td> Total : </td>
        <td> <%= @orders.map{|order| order.product.price}.sum %></td>
      </tr>  
    </table>    

  <%= link_to 'Limpiar carro', clean_orders_path, class: 'btn btn-outline-danger'  %>
    </div>
  </div>
</div>


















