<!DOCTYPE html>
<html>
  <head>
    <title>Chinogamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/2a78bff087.js"></script>
    <link rel="stylesheet" href="/assets/styles.scss">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">chinoGamer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= orders_path %>">Mi carro <span class="sr-only">(current)</span>
             <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          
            <% if !user_signed_in? %>
              <li class="nav-item">
              <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
              <%= link_to 'Registrarse',  new_user_registration_path, class: 'nav-link'%>
              </li>
            <% else %>
            <li class="nav-item">
              <a class="nav-link"><%= current_user %></a>
            </li>
            <li class="nav-item">
              <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <% end %>
            </li>
            
        </ul>
      </div>
    </nav>
  </div>
  </div>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
      <%= notice %>
      </div>
      <% end %>

      <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alerta %>
      </div>
      <% end %>
<div class="main-content">
    <%= yield %>

  <footer>
    <div class="container-fluid bg-dark">
      <div class="row">
          <p class="text-light bg-dark">Redes Sociales</p>
            <tr>
              <a class="btn btn-success" href="https://www.instagram.com/chinogameroficial/">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </a>
            </tr>
            <tr>  
              <a class="btn btn-success" href="#">
                <i class="fa fa-twitch fa-2x" aria-hidden="true"></i>
              </a>
            </tr>
            <tr>  
              <a class="btn btn-success" href="#">
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
              </a>
            </tr>    
     </div> 
   </div>
  </footer>  
 </body>
</html>
